[submodule "PhysicsBasedAnimationToolkit"]
	path = PhysicsBasedAnimationToolkit
	url = https://github.com/Q-Minh/PhysicsBasedAnimationToolkit.git
[submodule "ipc-toolkit"]
	path = ipc-toolkit
	url = https://github.com/ipc-sim/ipc-toolkit.git
[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/microsoft/vcpkg.git
